html {
	height: 100%; 
}
body { 
	height: 100%;
	margin: 0px;
	padding: 0px;
}
#map_canvas { 
	width: 800px;
	height: 600px;
	margin: auto;
	margin-top: 10px;
}
#reduce, #moins, #plus {
	position: absolute;
	display: none;
}
#reduce {
	top: 0;
	right: 0;
}
#plus {
	top: 25px;
	right: 35px;
}
#moins {
	right: 0px;
	top: 25px;
}
#destinationForm {
	float: left;
	max-width: 520px;
	top: 0px;
	position: absolute;
	margin-left: 20px;
	max-height: 650px;
	overflow: auto;
	background-color: rgb(116, 184, 234);
	box-shadow: 0px 0px 5px rgb(0, 0, 0);
	margin-top: 10px;
}
.div_direction {
	text-align: center;
	display: block;
}
tr:nth-child(2n) {
	background-color: rgb(52, 120, 186);
	color: #FFFFFF;
}
tr:nth-child(2n+1) {
}
#panel > tbody {
	background-color: black;
}
h1, h2 {
	text-align: center;
}